@mixin bleed-element($position: relative) {
  position: $position;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow-x: hidden;
}

@mixin reset-bleed-element {
  width: 100%;
  margin: 0;
  left: inherit;
  right: inherit;
}
